@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* font-family: 'Poppins', sans-serif; */
/* CSS 변수 설정하기 */

:root {
  --header-height: 3rem;
  --nav-width: 324px;

  /* font */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* color */
  --first-color: #009FFF;
  --first-color-dark: #0066a3;
  --first-color-darken: #ec2F4B;
  --first-color-light: #eae7e6;
  --first-color-lighten: #fffafa;
  --text-color: #2d3a42;

  /* font , typography */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* margin */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /* z-index */
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }  
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h3 { font-weight: var(--font-semi-bold); }
a { color: var(--text-color); }

/* class */
/* section */
.section { padding: 4rem 1rem 2rem; }

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}

/* layout */
.bg-grid {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.nav__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: 0.5s;
}

.show { left: 0; }

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-dark);
  cursor: pointer;
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  font-size: 1rem;
  color: var(--first-color-light);
  font-weight: var(--font-bold);
  transition: 0.3s;
}


.nav__link:hover {
  color: var(--text-color);
}

.nav__toggle {
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}

.active { color: var(--text-color); }

/* home */
.home__container {
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.home__img {
  width: 320px;
  height: 320px;
  /* overflow: hidden; */
  margin-bottom: var(--mb-2);
  position: relative;
  transform-style: preserve-3d;
  perspective: 300px;
}

.home__img .title-text {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  transition: 1s;
  /* overflow: hidden; */
  animation: move 1s infinite;
}

@keyframes move {
  0% {top: 0%;}
  50% {top: 5%;}
  100% {top: 0%;}
}

.home__img:hover .title-text.front {
  transform: rotateY(180deg);
}

.home__img .title-text.back {
  transform: rotateY(180deg);
  background-color: rgba(0, 102, 163, 0.7);
}

.home__img:hover .title-text.back {
  transform: rotateY(360deg);
}

.home__title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.home__profession {
  font-size: var(--small-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-5);
}

.home__social {
  margin-bottom: 5rem;
}

.home__social-link {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.home__social-link:hover {
  background-color: var(--first-color-dark);
}

/* about */
.about__container {
  row-gap: 2rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-4);
}

.about__img {
  width: 150px;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.about__information {
  margin-bottom: var(--mb-4);
}

.about__information-title {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

.about__information-data {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.about__information-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}

/* skills */
.skills__container {
  row-gap: 2rem;
}

.skills__subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

.skills__data {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb-2);
  margin-bottom: var(--mb-4);
}

.skills__name {
  text-transform: uppercase;
}

.skills__bar {
  position: absolute;
  bottom: -0.75rem;
  height: 0.25rem;
  background-color: var(--first-color);
}

.skills__html { width: 95%; }
.skills__css { width: 90%; }
.skills__js { width: 80%; }
.skills__jq { width: 85%; }
.skills__jsp { width: 80%; }
.skills__react { width: 70%; }
.skills__git { width: 100%; }

/* education */
.education__container {
  row-gap: 2rem;
}

.education__content {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.education__year, .education__race {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

.education__school, .education__specialty {
  display: block;
  font-size: var(--smaller-font-size);
}

.education__year, .education__school {
  text-align: right;
}

.education__time {
  padding: 0 1rem;
  justify-self: center;
}

.education__rounder {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.education__rounder::before {
  content: '';
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
}

.education__line {
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--first-color);
  transform: translate(5px, -4px);
}

/* works */
.works__container {
  justify-items: center;
  row-gap: 2rem;
}

.works__img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.works__data {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 159, 255, 0.7);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.works__link {
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  padding-left: 0.25rem;
  margin-bottom: var(--mb-2);
}

.works__title {
  font-size: var(--h2-font-size);
  color: var(--first-color-lighten);
}

.works__img:hover .works__data{
  bottom: 0;
}

/* footer */
.footer {
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  text-align: center;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.footer__social {
  margin-bottom: 3rem;
}

.footer__link {
  display: inline-flex;
  background-color: var(--first-color-darken);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}
.footer__link:hover {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

/* 반응형 */
@media screen and (min-width: 768px) {
  .nav__menu {
    width: var(--nav-width);
  }

  .about__container, .works__container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
  }

  .about__data {
    text-align: initial;
  }

  .about__description {
    margin-bottom: var(--mb-5);
  }

  .about__img {
    width: 220px;
  }

  .about__information {
    padding-left: 4rem;
  }

  .education__time {
    padding: 0 2rem;
  }

  .footer {
    background: none;
  }
  .footer__container {
    background-color: var(--first-color);
    padding: 3rem 0;
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding-left: var(--nav-width);
  }

  .l-header {
    width: 0;
  }

  .nav__toggle, .nav__logo, .nav__close {
    display: none;
  }

  .nav__menu {
    left: 0;
  }

  .home__container {
    height: 100vh;
  }

  .section {
    padding: 3rem 1rem 2rem;
  }

  .bg-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .works__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
